<% @page_title = "pizzaon top" %>
<h1><%= @page_title %></h1>
<% 5.times do |x| %>
    <h2>見出し</h2>
    <p>
    ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。ここに本文が入ります。
    <%= link_to "もっと読む", "#" %>
    </p>
<% end %>
