<nav class="menubar" id="admin-menubar">
  <ul>
    <%= menu_link_to "店員TOP", :staff_root %>
    <%= menu_link_to "注文一覧", :staff_orders %>
    <%= menu_link_to "在庫一覧", :staff_stocks %>
    <%= menu_link_to "TOP", :root %>
  </ul>
</nav>
