<table class="attr">
  <tr>
    <th>イメージ写真</th>
    <td>
    </td>
  </tr>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>金額(税込)</th>
    <td><%= @item.price %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><%= @item.category %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td>
      <%= @item.explanation %>
    </td>
  </tr>
</table>
